<!--<h1>Ingresar</h1>
{{loginForm.value | json}}
{{loginForm.valid}}
<form [formGroup]="loginForm">
    <label>Ingresa Correo: </label>
    <input type="email" formControlName="email">
    <br>
    <label>Ingrese Contraseña: </label>    
    <input type="password" formControlName="password">
    <br>
    <label>
        <input type="checkbox" formControlName="rememberMe">
        Remember me
    </label>
    <br>
    <button (click)="funIngresar()" [disabled]="!loginForm.valid">Ingresar</button>
</form>-->

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">

        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Registrar Usuario</div>
                    <span class="text-600 font-medium">Llenar el siguiente formulario</span>
                </div>
                <form [formGroup]="registerForm">
                    <div>
                        <label for="name" class="block text-900 text-xl font-medium mb-2">Nombre de usuario</label>
                        <input id="name" formControlName="name" type="text" placeholder="Nombre de usuario" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem">

                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Correo electronico</label>
                        <input id="email1" formControlName="mail" type="text" placeholder="Correo electronico" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem">

                        <label for="password1" 
                            class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                        <p-password id="password1" placeholder="Contraseña" styleClass="mb-5" formControlName="password"
                            inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                        <button pButton pRipple label="Registrar" class="w-full p-3 text-xl"
                        (click)="funResgitrar()" [disabled]="!registerForm.valid"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

